.comments-card {
    background-color: rgba(15, 23, 51, 0.9);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    color: #f1f1f1;
}

.comments-card .list-group-item {
    background: transparent;
    color: #ddd;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 0.8rem 0;
}

.comments-card .list-group-item strong {
    color: #ff8c42;
}

.txtForm {
    resize: none;
    background-color: rgba(15, 23, 51, 0.9);;
    color: #f1f1f1;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

.txtForm:focus {
    outline: none;
    background-color: rgba(16, 20, 34, 0.9);
    color: white;
    border-color: #ff8c42;
    box-shadow: 0 0 5px rgba(255,140,66,0.6);
}