.btn-hover {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-hover:hover {
  background-color: rgba(15, 23, 51, 1);
  transform: translateY(-2px);
}

.alert {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.alert.hidden {
  opacity: 0;
  transform: translateY(-20px);
}