
/* Style des cards */
.blog-card {
  max-width: 600px;
  width: 100%;
  background-color: rgba(15, 23, 51, 0.9);
  color: #fff;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

/* Image dans la card */
.blog-image {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


/* Boutons standards */
.blog-btn {
  background-color: rgba(15, 23, 51, 0.9);
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.blog-btn:hover {
  background-color: rgba(15, 23, 51, 1);
}

/* --- Styles pour les boutons avec SVG --- */
.btn-icon {
  background: none;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
  color: white; /* Couleur initiale du SVG */
}

.btn-icon svg {
  /* width: 40px;  */
  /* taille fixe, peut ajuster */
  /* height: 40px; */
  stroke: currentColor; /* Assure que les contours prennent la couleur */
  fill: none; /* SVG sans remplissage */
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn-icon:hover {
  color: orange; /* change la couleur des SVG au hover */
  transform: scale(1.2); /* grossissement */
}

.btn-icon:hover svg {
  stroke: currentColor; /* garde l'orange sur le SVG */
}
